<%- include("partials/header") -%>

<h1><%= reqPostTitle %></h1>
<p><%= reqPostContent %></p>

<div class="commentSection">
    <h3>Add Comment</h3>
    <div class="comments-main">
        <div class="left-avtar">
            
        </div>
        <div class="right-comments">
            <h4>User Name</h4>
            <a href="#">Reply</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, recusandae.</p>
        </div>
    </div>

</div>



<%- include("partials/footer") -%>
